<div id="articleList">
	<ul>
		<% page.posts.each(function(post){ %>
			<li class="article-li">
				<span class="article-date"><%- date(post.date, "YYYY / MM / DD") %></span>
				<a class="article-title" href="<%- config.root %><%- post.path %>"><%- post.title %></a>
			</li>
		<% }); %>
	</ul>
</div>